@charset "UTF-8";

:root{
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
    --margin_fixed: 120px;
}

header{
    position: relative;
}
header#orador{
    height: 70px;
}
header#orador > a{
    transform: translate(0,17px);
}

header > a {
    height: 100%;
    margin-left: 20px;
    background-image: transparent;
    width: 50px;
}
main > section.orador_content > article{
    padding: 25px 0px 3px 0px;
    width: 78vw;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    background-color: var(--main_color);
}
main > section.orador_content > article > h2{
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.363);
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
    font-family: var(--font-main);
    font-size: 25px;
    color: var(--second_color);
}
main > section.orador_content > article > p{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    line-height: 30px;
    text-align: left;
    text-indent: 40px;
    font-size: 18px;
    font-family: var(--font-second);
}