@charset "UTF-8";

:root{
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../../image/banner-3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
main.increva_main{
    padding: 20px 0px;
    height: 100vh;
}
main > section >form {
    display: block;
    margin: auto;
    width: 450px;
    background-color: #80808088;
    border-radius: var(--radius);
    padding: 20px 0px;
}
/*CAIXA ENBUTIDA*/
main > section > form > article{
    padding: 15px;
    margin: 10px auto;
    border-radius: 15px;
    max-width: 280px;
    min-width: 100px;
    background-color: var(--main_color);
    box-shadow: 2px 3px 13px 4px #0000097c;
}
main > section > form  input#iemail,input#iname_main{
    color: white;
}
main > section > form  input#iemail,input#iname_main,select#icurso{
    max-width: 100%;
    min-width: 40%;
}
main > section > form  input#iemail,input#iname_main,select#icurso,select#iturma,select#iclasse,select#itipo{
    border-radius: 8px;
    outline: 3px solid var(--color2);
    border: transparent;
    font-weight: bolder;
    background-color: transparent;
}
main > section > form  input#iemail,input#iname_main,select#icurso{
    padding: 10px;
}
main > section > form select#iturma,select#iclasse,select#itipo{
    padding: 5px;
}
/*HOVER*/
main > section > form  input#iemail:hover,input#iname_main:hover,select#icurso:hover,select#iturma:hover,select#iclasse:hover,select#itipo:hover{
    transform: translate(3.5%);
    transition: .3s;
}
main > section > form   option{
    background-color: var(--color2);
    color: var(--second_color);
}
/*PROJECTO*/
main article#add{
    display: block;/*Quando o tipo é expositor*/
    padding: 20px;
    margin-top: 10px
}
main  textarea#idesc{
    max-width: 210px;
    min-width: 210px;
    max-height: 148px;
    min-height: 148px;
    display: block;
    margin: 10px auto;
    font-size: 15px;
    padding: 0px 3px;
    background-color: var(--color1);
}

article.other  legend,label{
    font-size: 16px;
    padding-bottom: 10px;
}
article.other > fieldset{
    padding: 5px 5px;
}
.apenas{
    color: var(--color2);
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
main > section > form > input#ienviar{
    display: block;
    margin: auto;
    border-radius: 10px;
    padding: 12px 22px;
    background-color: var(--main_color);
    color: var(--color2);
    font-weight: bolder;
    text-transform: capitalize;
}
@media screen  and (max-width: 487px) {
    main > section >form {
        width: 95vw;
    }
    
}