@charset "UTF-8";

:root{
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
    --margin_fixed: 97px;
}

main#patrocinador{
    margin-top: var(--margin_fixed);
    text-align: center;
    width: 80vw;
    padding: 20px 0px;
    border-radius: var(--radius);
    background-color: var(--main_color);
}
main > h1{
    font-family: var(--font-main);
    text-transform: uppercase;
    color: var(--second_color);
    font-size: 28px;
    padding: 10px 20px 0px 20px;
    margin-bottom: 20px;
}
main > section#patrocinador {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    column-gap: 15px;
}
main > section#patrocinador > article {
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 0px;
    border-radius: 20px;
    margin: 25px 0px;
    background-color: var(--second_color);
}
main > section#patrocinador > article > a{
    align-self: center;
    padding: 12px;
    border-radius: 10px;
    margin-top: 15px;
    width: 120px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-main);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--second_color);
    background-color: var(--color2);
}
main > section#patrocinador > article > a:hover{
    transform: translate(3%);
    transition: .3s;
}