@charset "UTF-8";

main{
    text-align: center;
    width: 80vw;
    background-color: red;
    padding: 20px 0px;
    border-radius: 30px;
}
main > h1{
    padding-top: 30px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}
main > section#patrocinador {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    column-gap: 15px;
}
main > section#patrocinador > article {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0px;
    border-radius: 20px;
    margin: 25px 0px;
    background-color: aqua;
}
main > section#patrocinador > article > a{
    align-self: center;
    background-color: green;
    padding: 10px 0px;
    width: 100px;
    text-align: center;
}