:root{
    --fundo:#020235;
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
    --indent: 35px;
    --margin_fixed: 97px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 5px 0px 10px 0px;
}
main#print{
    display: none;
    font-family: var(--font-main);
    text-align: left;
    padding: 0px 60px;
    margin: auto;
    width: 850px;
    height: 980px;
    text-transform: uppercase;
    background-color: white;
}
main#print section#top{
    display: flex;
    padding-top: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
}
main#print section#top > img{
    width: 100px;
}
main#print section#top > h1{
    align-self: center;
    font-size: 2em;
    text-align: right;
}
main#print > #header{
    font-size: 16px;
    text-align: right;
}
main#print > #header > p{
    line-height: 20px;
    font-weight: bold;
}
main#print > #header > p > span{
    font-weight: lighter;
}
main#print > #data{
    font-size: 16px;
    margin: 10px 0px;
    font-weight: bolder;
    text-align: center;
}
main#print > #data > span{
    font-weight: lighter;
}
main#print > hr{
    margin: 5px 0px;
    border: 1px solid black;
}
main#print > section#orcamento{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 13px 8px;
    border-top: 3px solid #7c7c7c;
    box-shadow: 0px -52px 0px #d8d8d8 inset;
}
main#print > section#orcamento > span{
    display: block;
    font-size: 18px;
}
main#print > section#orcamento > span#titulo{
    font-weight: bold;
}
main#print > #descricao{
    margin: 10px 0px;
}
main#print > #descricao > h2{
    text-align: left;
    text-transform: uppercase;
    font-size: 23px;
}
main#print > #descricao > p{
    margin: 10px 0px;
    text-indent: 50px;
    text-transform: uppercase;
}
main#print > #passo > h2{
    font-size: 20px;
}
main#print > #passo > article{
    margin-left: 40px;
    font-size: 13px;
}
main#print > #passo > article > ol > li{
    font-weight: bold;
    font-size: 15px;
}
main#print > #passo  div {
    margin-left: 10px;
    line-height: 17px;
}
main#print > #passo  div > ul{
    list-style-type: square;
}
main#print > #assinatura{
    margin-top: 20px;
    text-align: center;
}
main#print > #assinatura > p{
    text-transform: capitalize;
    font-size: 16px;
}
main#print > #assinatura > hr{
    margin: auto;
    width: 250px;
    margin-top: 40px;
    border: 1px solid black;
}
main#print #rodape{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
main#print #rodape img{
    width: 100px;
    height: 100px;
}
main#print div#inst{
    display: flex;
    flex-flow: column wrap-reverse;
}
main#print div#inst > p{
    align-self: center;
}
@media print{
    main#print{
        width: 90vw;
        padding: 0;
        height: 99vh;
    }
}