@charset "UTF-8";

:root{
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
}

main > section{
    height: 450px;
    margin-bottom: 30px;
}

/*TITULO E DESCRIÇÃO*/
main > section.sobre article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 45%;
    height: 100%;
}
main > section.sobre article > h2{
    font-family: var(--font-main);
    font-size: 30px;
    color: var(--second_color);
    text-align: center;
    margin-bottom: 15px;
}

main > section.sobre article > p{
    line-height: 23px;
    margin: 0px 20px;
    text-align: justify;
}
main > section.sobre article.content_rigth{
    border-radius:0px var(--radius) var(--radius) 0px;
    background-color: var(--main_color);
    float: right;
}
main > section.sobre article.content_left{
    border-radius: var(--radius) 0px 0px var(--radius);
    background-color: var(--main_color);
    float: left;
}
/*IMAGEM*/
main > section.sobre div{   
    width: 55%;
    height: 100%;
}
main > section.sobre div.img_left{
    float: left;
    border-radius: var(--radius) 0px 0px var(--radius);
    background-color: var(--main_color);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}
main > section.sobre div.img_rigth{
    border-radius:0px var(--radius) var(--radius) 0px;
    background-color: var(--main_color);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    float: right;
}
main > section.sobre div#img-1{
    background-image: url(../../image/banner-2.jpg);
}
main > section.sobre div#img-2{
    background-image: url(../../image/banner-8.jpg);
}
main > section.sobre div#img-3{
    background-image: url(../../image/banner-11.jpg);
}
main > section.sobre div#img-4{
    background-image: url(../../image/banner-5.jpg);
}
main > section.sobre div#img-5{
    background-image: url(../../image/banner-12.jpg);
}
main > section.sobre div#img-6{
    background-image: url(../../image/banner-13.jpg);
}
