@charset "UTF-8";

:root{
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
    --margin_fixed: 120px;
}
header{
    position: relative;
}
header#orador{
    height: 70px;
}
header#orador > a{
    transform: translate(0,17px);
}

header > a {
    height: 100%;
    width: 50px;
    margin-left: 20px;
    background-image: transparent;
}
main{
    width: 78vw;
    border-radius: 30px;
    margin: auto;
    padding: 20px 0px 3px 0px;
    margin-bottom: var(--espaço);
    margin-top: 120px;
    font-family: var(--font-second);
    background-color: var(--main_color);
}
main > section.content{
    margin: auto;
    width: 80vw;
}
main > section.content > article > h2{
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.363);
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
    font-family: var(--font-main);
    font-size: 25px;
    color: var(--second_color);
}
main > section.content > article > p{
    margin: auto;
    margin-bottom: 10px;
    line-height: 25px;
    text-align: left;
    font-size: 18px;
    margin: 0 -25px;
}
main > section.content > article > ol{
    font-size: 18px;
    font-weight: bold;
}
main h3,h4{
    text-transform: uppercase;
    margin-bottom: 10px;
}
main h3,h4,p{
    padding: 0px 35px;
    font-size: 20px;
}