@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}
:root{
    --fundo:#020235;
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: #0324a1;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
    --indent: 35px;
    --margin_fixed: 97px;
}

body{
    background-color: var(--fundo);
    height: 100vh;
    width: 98.9vw;
}

/*CARREGAMENTO*/
div#body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo);
    background-image: url(../image/banner-18.jpg);
    background-position: center center;
    background-size: cover;
}
div#body > div#show{
    width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/logo-back.png);
    animation: dor 1.8s infinite;
}
@keyframes dor {
    from, to{
        scale: 100%;
    }
    50%{
        scale: 110%;
    }
}
div#body > div#group{
    font-family: monospace;
    transform: translate(0px,25vh);
    color: white;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.397);
    text-transform: uppercase;
    font-size: 2.4em;
}
main,footer{
    display: none;
}

/*HEADER*/
header{
    display: none; /*DELIGADO POR CAUSA DOCARREAGADO*/
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 6px 13px 1px darkblue;
    background-color: var(--main_color);
}
header > menu {
    display: flex;
}
header > a{
    align-self: flex-start;
}
header > a > div{
    height: 100%;
    width: 75px;
    height: 60px;
    background-image: url(../image/logo.png);
}

/*NAV*/
header > menu > nav{
    display: flex;
    flex-flow: row wrap ;
    align-items: center;
}
header > .menu{
    display: none;
    justify-content: center;
    align-content: center; 
    height: 30px;
    color: var(--second_color);
    font-size: 2em;
    width: 150px;
}
header > .menu > img#fechar{
    display: none;
}
header > menu > nav  li{
    display: inline-flex;
}
header > menu > nav  a{
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    color: var(--main_color);
    font-size: 16px;
    font-family: var(--font-second);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--color2);
    box-shadow: 2px 5px 9px 0px #00000054;
    transition: .4s ;
}
header > menu > nav  a:hover{
    transition: .4s ;
    transform:  translate(3%);
    color: var(--second_color);
    background-color: var(--color2);
}
header > menu > nav  a#activo{
    color: var(--color2);
    border: 2.5px solid var(--color2);
    background-color: var(--main_color);
}
header > menu > nav  a#inscreva{
    background-color: var(--second_color);
    color: var(--color2);
}

/*CONTEUDO*/
main.principal{
    padding: 0px 10px;
    min-width: 300px;
    max-width: 1080px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: var(--espaço);
}

/*SOMBRA*/
main > section#intro,section#time,section#status,section#get,section#ora,section#patro,section.sobre,section.orador_content > article,main#patrocinador,section.patrocinador_content > article,main#evento{
    animation: luz 1s infinite;
}
@keyframes luz {
    0%{
        box-shadow: 0px 0px 30px 22px darkblue;
    }
    25%{
        box-shadow: 0px 0px 30px 20px darkblue;
    }
    50%{
        box-shadow: 0px 0px 30px 18px darkblue;
    }
    75%{
        box-shadow: 0px 0px 30px 16px darkblue;
    }
    90%{
        box-shadow: 0px 0px 30px 17px darkblue;
    }
    100%{
        box-shadow: 0px 0px 30px 21px darkblue;
    }
}

/*RODAPÉ*/
footer{
    font-family: var(--font-main);
    padding: 8px 0px;
    margin-right: -12px;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    background-color: var(--main_color);
}
footer > section{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    padding: 0px 14%;
}
footer > section > aside > p{
    font-weight: bolder;
    color: var(--color2);
    font-size: 18px;
}
footer > section > aside > div#social{
    margin: 8px;
}
footer > section > aside > div#social > a > img{
    transition: .7s;
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
}
footer > section > aside > div#social > a > img:hover{
    border: 2px solid var(--second_color);
    transform: translate(3px);
}
footer > section > nav{
    align-self: center;
}
footer > section > nav > h3{
    color: var(--color2);
}
footer > section > nav > ul{
    list-style: none;
}
footer > section > nav > ul > li{
    margin-top: 15px;
    transition: .3s;
}
footer > section > nav > ul > li >a{
    color: var(--second_color);
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    transition: .7s;
}
footer > section > nav > ul > li:hover{
    transform: translate(4px);
    color: var(--color2);
}
footer > section > nav > ul > li >a:hover{
    color: var(--color2);
}
footer > p > span{
    font-weight: bolder;
}