@charset "UTF-8";

:root{
    --main_color: #3e3edd;
    --second_color: skyblue;
    --color1: #ffffff;
    --color2: #020235;
    --color3: red;
    --font-main: monospace;
    --font-second: Arial, Helvetica, sans-serif;
    --espaço: 25px;
    --radius: 35px;
    --margin_fixed: 108px;
}

/*HEADER*/
header, header > menu > nav{
    flex-flow: column nowrap;
}
header >  .menu{
    display: flex;
}
header > menu {
    display: none;
}
header > menu > nav a{
    width: 95vw;
}
header > menu > nav  a:hover{
    transform:  none;
    transition: none ;
    color: none;
    background-color: none;
}
/*INTRODUÇÃO*/
main > section#intro{
    margin-top: var(--margin_fixed);
}
main > section#intro div#img{
    float: top;
    width: 100%;
    height: 60%;
    border-radius: 35px 35px 0px 0px;
    background-position: center bottom;
    background-image: url(../image/banner-1-mobile.jpg);
}
main > section#intro article#text{
    float: bottom;
    height: 40%;
    width: 100%;
    border-radius: 0px 0px 35px 35px;
}
main > section#intro article#text h1{
    padding: 0px 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
main > section#intro p{
    font-size: 12px;
    text-indent: 0px;
}
main > section#intro article#text a{
    font-size: 11px;
}
/*SOBRE O EVENTO*/
main > section.sobre div{   
    width: 100%;
    height: 62%;
    float: top;
}
main > section.sobre article{
    width: 100%;
    height: 38%;
    float: bottom;
}
main > section.sobre article > h2{
    font-size: 19px;
}
main > section.sobre article > p{
    line-height: 15px;
    font-size: 12px;
    text-indent: 0px;
}
main > section.sobre div#img-1{
    background-position: right center;
}
main > section.sobre div#img-2{
    background-position: center center;
}
main > section.sobre div#img-3{
    background-position: calc(50%) top;
}
main > section.sobre div#img-5{
    background-position: calc(18%) bottom;
}
main > section.sobre div#img-6{
    background-position: calc(70%) bottom;
}

/*SOBRE PAGINA*/
main > section.sobre div#img-1{
    background-position: center bottom;
}
/*IMAGEM*/
main > section.sobre article.content_rigth{
    border-radius: 0px 0px var(--radius) var(--radius);
    float: bottom;
}
main > section.sobre article.content_left{
    border-radius: 0px 0px var(--radius) var(--radius);
    float: bottom;
}
main > section.sobre div.img_left{
    border-radius: var(--radius) var(--radius) 0px 0px;
    float: top;
}
main > section.sobre div.img_rigth{
    border-radius: var(--radius) var(--radius) 0px 0px;
    float: top;
}


/*INSCREVA-SE*/
/* SUBSTITUINDO A IMAGEM
body#ins{
    background-position: left bottom;
    background-image: url(../image/banner-3.jpg);
}
*/
main > section#get > h2 {
    font-size: 16px;
}
main > section#get > p{
    font-size: 12px;
    text-indent: 0px;
}
main > section#get a{
    text-align: center;
    font-size: 10px;
}
main > section#get a:hover{
    transform: none;
    transition: none;
}
/*PAGINA*/
main.increva_main{ 
    height: 100vh;
}
main.increva_main{
    height: 100vh;
    padding-top: 20px;
    /* SUBSTITUINDO A IMAGEM
    background-image: url(../../image/banner-1.jpg);
    */
}
main > section.sobre article > h2{
    font-size: 14px;
}
main > section > form  input#iemail:hover,input#iname_main:hover,select#icurso:hover,select#iturma:hover,select#iclasse:hover,select#itipo:hover{
    transform: none;
    transition: none;
}
main  textarea#idesc{
    max-width: 200px;
    min-width: 200px;
    max-height: 148px;
    min-height: 148px;
    display: block;
    margin: 10px auto;
    font-size: 13.5px;
    padding: 2.5px;
    background-color: white;
}
main > section > form > input#ienviar:hover{
    transform: translate(0px);
    transition: 0s;
}
/*ORADORES*/
main > section#ora > article {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
main > section#ora article{
    gap: 20px;
}
main > section#ora div {
    width: 50%;
}
main > section#ora img {
    width: 100%;
}
main > section#ora h2{
    font-size: 20px;
}
main > section#ora p {
    font-size: 15px;
}
main > section#ora > a{
    font-size: 10px;
}
/*ORADOR PAGINA*/

main > section#ora > article  a{
    width: 100px;
    font-size: 12px;
}
main > section.orador_content > article{
    width: 86vw;
}
main > section#ora div {
    width: 90%;
}
main > section.orador_content > article > h2{
    font-size: 16.5px;
}
main > section.orador_content > article > p{
    width: 88%;
    text-indent: 5px;
    font-size: 15px;
    font-weight: bold;
}
/*PATROCINADORES*/
main > section#patro > article{
    gap: 30px;
}
main > section#patro > h2{
    font-size: 20px;
}
main > section#patro > a{
    font-size: 10px;
}
main > section#patro > a:hover{
    transform: none;
    transition: none;
}
main > h1#patrocinador{ /*PAGINA*/
    font-size: 14px;
}
main > section#patrocinador > article > a:hover{
    transform: none;
    transition: none;
}
/*SUBPAGE*/
main > section.patrocinador_content > article > h2{
    font-size: 18px;
}
main > section.patrocinador_content > article > p{
    font-size: 8px;
}
main > section#patrocinador > article > a{
    font-size: 10px;
}
main > section.orador_content > img{
    width: 85%;
}
main > section.patrocinador_content > article > h2{
    font-size: 16.5px;
}
main > section.patrocinador_content > article > p{
    width: 88%;
    font-size: 15px;
    font-weight: bold;
    text-indent: 5px;
}
/*MODO ESCURO E CLARO*/
div#modo{
    top: 90vh;
    left: 77vw;
}
footer{
    margin-right: -3.0313px;
}