@charset "UTF-8";

/*HEADER*/
header, header > menu > nav{
    flex-flow: column nowrap;
}
header > a > div#logo{
    width: 50px;
    height: 35px;
}
header >  span#imenu{
    display: flex;
    justify-content: center;
    align-content: center;
    
    height: 30px;
    width: 50vw;
    border: 2px dotted black;
}
header > menu {
    display: none;
}
header > menu > nav a{
    width: 95vw;
}
header > menu > nav  a:hover{
    background-color: none;
    color: none;
    transform:  none;
    transition: none ;
}
/*INTRODUÇÃO*/
main > section#intro div#img{
    float: top;
    width: 100%;
    height: 60%;
    border-radius: 35px 35px 0px 0px;
}
main > section#intro article#text{
    float: bottom;
    height: 40%;
    width: 100%;
    border-radius: 0px 0px 35px 35px;
}
main > section#intro article#text h1{
    font-size: 22px;
    padding: 0px 5px;
    margin-bottom: 5px;
}
/*SOBRE O EVENTO*/
main > section.sobre div{   
    width: 100%;
    height: 62%;
    float: top;
}
main > section.sobre article{
    width: 100%;
    height: 38%;
    float: bottom;
}

/*INSCREVA-SE*/
main > section#get > h2 {
    font-size: 20px;
}
main.increva_main{ /*PAGINA*/
    height: 100vh;
    background-color: green;
}
main.increva_main{
    padding-top: 20px;
    height: 100vh;
    background-image: url(../../image/banner-1.jpg);
}

/*ORADORES*/
main > section#ora > article {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
main > section#ora article{
    gap: 20px;
}
main > section#ora div {
    width: 50%;
}
main > section#ora img {
    width: 100%;
}
main > section#ora p {
    font-size: 13px;
}

/*PATROCINADORES*/
main > section#patro > article{
    gap: 30px;
}
main > h1#patrocinador{ /*PAGINA*/
    font-size: 17px;
}

/*FOOTER*/
